* { margin: 0; padding: 0; vertical-align: middle;}
.waiting * {
  cursor: wait !important;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background-color: #f2efe9;
  box-sizing: border-box;
  padding-bottom: 5rem;
}
.login-body {
  background: linear-gradient(90deg, hsla(212, 100%, 88%, 1) 1%, hsla(0, 0%, 100%, 1) 51%, hsla(55, 100%, 65%, 1) 100%);
}
h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
}
h2 {
  font-weight: 500;
  font-size: 25px;
}
header {
  background: linear-gradient(90deg, hsla(212, 100%, 88%, 1) 1%, hsla(0, 0%, 100%, 1) 51%, hsla(55, 100%, 65%, 1) 100%);
  /* background: #0685f8;
  color: white; */
  padding: 10px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0 5%;
}
.logo-img {
  font-size: 30px;
}
.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
  padding: 0 5%;
}
.nav-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.nav-btn-img {
  width: 28px;
}


/* The slider itself */
.slider {
  width: 70px; /* Full-width */
  transition: opacity .2s;
}


.slider::-moz-range-thumb {
  background: #000089;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin: auto;
  flex-wrap: wrap;
  /* align-items: center; */
}

#loader-map {
  width: 55%;
  border-radius: 5%;
}


#map {
  height: 700px;
  width: 100%;
  border-radius: 5%;
  /* filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%); */
}


/* load window */
#loader {
  display: none;
  height: 700px;
  width: 100%;
  border-radius: 5%;
  /* background-image: url(assets/fly4.gif); */
  background-size: cover;
  background-position: center;
}

.loading-game-data {
  display: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  margin: auto;
  width: 100%;
  padding-top: 25%;
}

#loading-gif {
  width: 50%;
}

.container {
  margin-left: 4rem;
  width: 33%;
  background-color: #000089;
  border-radius: 2%;
  padding: 1%
}


.game-data {
  width: 100%;
}

.data-table {
  color: white;
  width: 100%;
  margin-bottom: 2rem;
  border-collapse: collapse;
}
.data-table thead tr {
  background-color: #000089;
}
.data-table tbody tr:nth-child(odd) {
  background-color: #0070e9;
}
.data-table tbody tr:nth-child(even) {
  background-color: #0685f8;
}

.data-table td {
  font-weight: bold;
}

.data-table th, td {
  padding: 7px 7px 7px 4px;
}

.data-table td:nth-child(1) {
  padding-left: 15px;
  font-weight: normal;
  width:25%
}

.data-table td:nth-child(2) {
  width: 75%;
}

.block-title {
  color: #F1FAFF;
  font-size: 1.2rem;
  padding-bottom: 10px !important;
}

.flag {
  width: 50px; 
  margin-left: 3%
}




#distance {
  text-align: center; 
  font-size: 28px

}

#co2 {
  text-align: center; 
  font-size: 28px
}

#wikipedia td {
  /* text-wrap: wrap; */
  max-width: 100px;
  overflow: auto;
  text-overflow: clip;
  white-space: wrap;
}

#wiki-link {
  color: white;
  text-decoration: none;
}

#airport-guide-link {
  font-style: italic;
  color: white;
  text-decoration: none;
}



.login-wrapper {
  margin: 10% auto;
  box-shadow: rgba(149, 157, 165, 0.9) 0px 8px 24px;
  border-radius: 5px;
}

.title {
  background-color: #000089;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
.user-form {
  background-color: #0070e9;
  padding: 30px;
  color: white;
  border-radius: 0 0 5px 5px;
  text-align: center;
}

button, input {
  background-color: #0685f8;
  border: 1px white solid;
  border-radius: 5px;
  font-size: inherit;
  color: white;
  padding: 10px;
}

.accent-btn {
  background-color: #fff278;
  color: black;
  border: 1px #000089 solid;
  font-size: 18px;
  padding: 10px 50px;
  font-weight: 600;
  cursor: pointer;
}

.login-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 18px;
}
.login-table tr {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.text-input {
  width: 100%;
}

#login-title h2 {
  display: flex;
}
.login-select {
  display: none;
}
.login-select + label {
  width: 100%;
  transition: 0.3s;
}
.login-select:checked + label {
  text-decoration: underline 2px #c4c4c4;
}
.login-select:not(:checked) + label {
  font-weight: 350;
}
.login-select + label:hover {
  background-color: #0000a1;
  box-shadow: 0 0 8px 8px #000089 inset;
  cursor: pointer;
}
label + .login-select + label {
  border-left: white 0.1rem solid;
}

/* Fly button from the map */

h5 {
  color: #0685f8;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.fly-button {
  font-size: 0.9rem;
  background-color: #0685f8;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  margin-top: 0.5rem;
}

.fly-button:hover {
  background-color: #000089;
  cursor:pointer;
}

dialog {
  position: absolute;
  margin: 70px auto;
  min-width: 500px;
  background-color: #000089;
  color: white;
  padding: 40px;
  text-align: center;
}

dialog button {
  cursor: pointer;
}

.btn_wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

dialog h2 {
  margin-bottom: 20px;
}

dialog p, dialog h3 {
  margin-bottom: 10px;
}

#new-stamp-img {
  margin-top: 15px;
  width: 50%;
}

#new-stamp-btn {
  margin-top: 30px;
}

#new-stamp-description {
margin-top: 15px;
}

#show-stamps {
  width: 80%;
}

.stamps-collection {
  margin-top: 3%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.stamp-info {
  background-color: #0685f8;
  width: calc(100% / 5 - 2rem);
  box-sizing: border-box;
  /* cursor: pointer; */
  border: 1px #ccc solid;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 3px 6px 6px #ccc;
  transition: all 0.2s ease-in-out;
}

.stamp-info:hover {
  transform: scale(1.02);
  /* box-shadow: 0px 0px 2px #ccc; */
}

#collected-stamp-description {
  margin-top: 5%;
  font-size: 1.2rem;
}

#collected-stamp-img {
  width: 50%;
}

@media only screen and (max-width: 1200px) {
    .stamp-info {
      width: calc(100% / 3 - 2rem);
    }

    #new-stamp-modal {
      width: 65%;
      margin: auto;
    }
}


@media only screen and (max-width: 769px) {

  header {
    padding-top: 2rem;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  main {
    width: 90%;
  }

  .nav {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  #loader-map {
    width: 100%;
    padding-bottom: 1rem;
  }
  .container {
    width: 100%;
    margin-left: 0rem;
  }
  dialog {
    width: 80%;
    min-width: 0px;
  }

  .stamp-info {
    width: 90%;
    margin: auto;
  }
}